body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.drawer-translate-y-0 {
   transform: translateY(0) !important;
   transition-delay: 50ms !important;
   transition-duration: 400ms !important;
}

.drawer-translate-y-8\/10 {
  transform: translateY(65%) !important;
  transition-delay: 50ms !important;
  transition-duration: 400ms !important;
}

